.Nav {
    background-color: #333;
    color: #fff;
    margin: 0 30px;
    border-bottom: solid 4px red;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.Nav :global(ul) {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
    list-style: none;
    padding: 0 40px;
    margin: 0;
    height: 40px;
}

.Nav :global(.nav-item) {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
}
.Nav :global(.nav-item.active) {
    background-color: #ff0000;
}